html{
    height: 100%;
    
}
.my{
    border-radius: 0px;
    border-color: black;
    background-color: limegreen;
    color: azure;
    box-shadow: 2px 2px 6px ghostwhite;
}
.navbarsearch{
    border-radius: 30px;
}
.nobody{
    color: black;
}
.navbarmy{
    font-size: 30px;
    color: azure !important;
}
.navbarmy1{
    font-size: 30px;
}
.imgmy{
    font-size: 60px; 
}
.mytoolbar{
    border: 2px solid black;
    border-radius: 0px;
    box-shadow: 2px 2px 0px black;
}

.bordermy{
    border: 3px solid black;
    width: 400;
}
.myline{
    border-top: 2px solid #a0cbb3;
    color: azure;
}
.cyka{
 color: red !important;
}
.mi{
    background-image: url(1.jpg);
background-size: cover;
}
.mil{
    margin-top: 0px;
}
.bot{

margin-bottom: 0px;
}
.mycolor{
    color:azure !important;
}
.ci{
font-size: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: aliceblue;
    color: black;
    margin: 0px !important;
    
}
.forme{
    border: 3px solid black;   
}
.ci1{
        border-top: 0px solid black;
    border-right: 0px solid black;
}
.ci2{
     border-top: 0px solid black;
    border-bottom: 0px solid black;
    border-right: 0px solid black;
    
}
.nav{
    position: absolute;
    left: 160px;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
 flex-grow: 0;   
}
.main{
    display: flex;
    flex-direction: row;
  flex-grow: 1; 
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer{
  flex-grow: 0;  
}
.sure{
    background-image: url(3.jpg);
    background-size: cover;
}
.header1{
   display: flex;
flex-direction: row; 
    justify-content: space-between;
}
.flex-element3{
    margin-left: auto;
}
.flex-element1{
    display: flex;
    width: 500px !important;
    flex-direction: row;
}
.squere{
    border-radius: 0px;
    border: 2px solid black;
    
}
.text{
    font-size: 20px;
}
.bigger{
    font-size: 100px;
}
.line2{
    border: 2px solid black;
}
.flex-elementb{
    align-self: flex-start;
}
.mimedia{
    width: 640px;
}
.forme1{
    display: flex;
    flex-direction: column;
}
.botv{
    border: 2px solid black;
    padding: 0px;
    font-size: 10px;
    
}
#elem2{
    padding-left: 13px !important;
}
#area{
    width: 640px !important;
}
.divelementrow{
    display: flex;
    flex-direction: row;
}
.divelementcolumn{
    display: flex;
    flex-direction: column;
    
}
.divelementalign{
    align-items: flex-start;
}
.imgmy1{
    font-size: 90px; 
}
.mywidth{
    width: 640 !important;
}
.red{
    color: red;
}
.btn1{
    
}
.myw{
    width: 150;
    
}