<div class="mi header " style="top: 0px; ">
    <hr class="myline mil"/>

    <nav class="navbar navbar-expand-lg navbar-light light header1">
        <div class="flex-element"><a class="navbar-brand navbarmy" href="#">Ask Some</a></div>
        <nav class="navbar navbar-light light mt-2 flex-element">
            <form class="form-inline">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <input class="form-control mr-2 navbarsearch" placeholder="Search" name="some">
                <button class="cyka btn btn-outline-success my-2 my-sm-0 my" type="submit">Ask!</button>
            </form>
        </nav>
        <div class="mycolor flex-element3">
            <a href="/login" class="mr-3">log in</a> <a class="mr-4" href="/registration">register</a>
        </div>
    </nav>
    <hr class="myline bot mt-4"/>
</div>